@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* @layer base {
  
} */

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --dark-color: #1d1f24;
  --dark-opacity4-color: rgba(0, 0, 0, 0.4);
  --dark-opacity7-color: rgba(0, 0, 0, 0.7);
  --light-color: #fff;
  --light-gray-color: #f2f3f6;
  --light-opacity7-color: rgba(255, 255, 255, 0.7);
  --light-opacity2-color: rgba(255, 255, 255, 0.2);
  --light-opacity3-color: rgba(255, 255, 255, 0.3);
  --point-color: #ff565c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  font-family: "Lato", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
html {
  /* font-size: 62.5%; */
}
body,
input {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  color: var(--dark-color);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: normal;
  margin: 0;
}
dl,
dd,
p {
  margin: 0;
}
button,
input {
  appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
button {
  cursor: pointer;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: underline;
}
img {
  vertical-align: top;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.btn_open_menu {
  width: 5rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.btn_open_menu span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn_open_menu:before,
.btn_open_menu:after {
  position: absolute;
  left: 50%;
  top: 50%;
  will-change: transform, margin-top;
  transition-property: transform, margin-top;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%) rotateZ(0);
}
.btn_open_menu:before,
.btn_open_menu:after,
.btn_open_menu span {
  content: "";
  width: 1.8rem;
  height: 0.12rem;
  background-color: var(--dark-color);
}
.btn_open_menu:before {
  margin-top: -0.5rem;
}
.btn_open_menu:after {
  margin-top: 0.5rem;
}
.btn_open_menu.prev_close:before,
.btn_open_menu.prev_close:after,
.btn_open_menu.close:before,
.btn_open_menu.close:after {
  margin-top: 0;
}
.btn_open_menu.close span {
  width: 0;
}
.btn_open_menu.close:before {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.btn_open_menu.close:after {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.btn_open_menu.close.next_close:before,
.btn_open_menu.close.next_close:after {
  transform: translate(-50%, -50%) rotateZ(0);
}
